.wp-caption {
	margin-bottom: $base-font-size * 1.5;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: ($base-font-size * 0.8075) 0;
	}
}

.wp-caption-text {
	text-align: center;
}