.gallery {
	margin-bottom: $base-font-size * 1.5;
}

.gallery-item {
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 0;

	.gallery-columns-2 & {
  	@include span-columns(6);
  	@include omega(2n);
	}

	.gallery-columns-3 & {
  	@include span-columns(4);
  	@include omega(3n);
	}

	.gallery-columns-4 & {
  	@include span-columns(3);
  	@include omega(4n);
	}

	.gallery-columns-5 & {
  	@include span-columns(12/5);
  	@include omega(5n);
	}

	.gallery-columns-6 & {
  	@include span-columns(2);
  	@include omega(6n);
	}

	.gallery-columns-7 & {
  	@include span-columns(7/12);
  	@include omega(7n);
	}

	.gallery-columns-8 & {
  	@include span-columns(1.5);
  	@include omega(8n);
	}

	.gallery-columns-9 & {
  	@include span-columns(9/12);
  	@include omega(9n);
	}
}

.gallery-caption {
	display: block;
}