html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $base-background-color; /* Fallback for when there is no custom background color defined. */
}

abbr,
acronym {
	border-bottom: 1px dotted $medium-gray;
	cursor: help;
}

address {
	margin: 0 0 $base-spacing;
}

big {
	font-size: $base-font-color * 1.25;
}

code,
kbd,
tt,
var {
	font-family: $code-font-family;
	font-size: $base-font-size * 0.9375;
}

dfn,
cite,
em, i {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

mark,
ins {
	background: $base-background-mark-color;
	text-decoration: none;
}

p {
  margin: 0 0 $small-spacing;
}

pre {
	background: $base-background-pre-color;
	font-family: $pre-font-family;
	font-size: $base-font-size * 0.9375;
	line-height: $pre-line-height;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
	height: auto;
  margin: 0;
  max-width: 100%;
}

blockquote, q {
  margin: 0 $base-spacing;
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}